/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  /*  max-width: 1100px;*/
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child {
  left: -22px;
  z-index: 1000000;
}
.wrapper i:last-child {
  right: -22px;
}
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 30px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: start;
  align-items: start;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 30px;
  position: relative;
  user-select: none;
}

.badge {
  position: absolute;
  right: 20px;
  background: #f1a501;
  width: 80px;
  height: 25px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.badge > p {
  color: white;
  font-weight: 500;
  text-transform: capitalize;
}
.carousel .card .img {
  height: 200px;
  width: 100%;
}
.card .img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  object-fit: cover;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.36rem;
  color: #212832;
  line-height: 1.36rem;
  padding-right: 10px;
}
.carousel .card span {
  color: #6a6d78;
  font-size: 1.31rem;
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  height: 100%;
  padding: 10px;
}
.subtitle {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
