body {
  overflow-x: hidden;
}
h1 {
  font-family: "Bebas Neue";
}

.hero-image {
  background-image: url(../../layouts/home/img/Hero.png); /* The image used */
  background-color: #fff; /* Used if the image is unavailable */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
/*-------------------- Navbar -------------------*/
ul.navbar-nav li a {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.04em;
  color: #212832;
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eee0;
  color: #95a5a6;
}

ul.navbar-nav li aul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
ul.navbar-nav li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #ff7000;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-right: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #00000000;
  background-image: none;
  border: 1px solid black;
  border-radius: 4px;
}
.navbar-toggle .icon-bar {
  border: 1.6px solid black;
}
button.btn.btn-border.navbar-btn {
  color: #f1a501;
  background-color: transparent;
  background-image: none;
  border-color: #f1a501;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.04em;
  padding: 13px 20px;
}
.btn-border:hover {
  color: #fff;
  background-color: #f1a501;
  border-color: #f1a501;
}
.btn-orange:hover {
  color: #f1a501;
  background-color: transparent;
  background-image: none;
  border-color: #f1a501;
}
button.btn.btn-orange.navbar-btn {
  color: #fff;
  background-color: #f1a501;
  border-color: #f1a501;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.04em;
  padding: 13px 20px;
  border-radius: 6px;
}
ul.nav.navbar-nav.navbar-right li:first-child {
  padding: 0px 8px 0 0;
}

/*--------------------hero section ---------------------------*/
.first-section {
  padding: 60px 15px;
}
.left-first {
  padding: 0 70px 0 0;
}
p.para-first {
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #212832;
}
h1.top-heading {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 82px;
  line-height: 80px;
  letter-spacing: 0px;
  color: #211b1b;
}
h1.top-heading span {
  font-family: "Bebas Neue";
}
span.first-textbg:after {
  content: "";
  width: 400px;
  height: 19px;
  background: url(../../layouts/home/img/Decore.png) no-repeat;
  position: absolute;
  background-size: 100%;
  top: 100px;
  left: 37%;
}
p.desc-first {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #5e6282;
}
button.btn.btn-ply.navbar-btn {
  background-color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.04em;
  padding: 0;
}
.btn-ply img {
  width: 66px;
  padding: 0 10px;
}
.btn:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -0px;
}
/*------------------------second part ------------------------------------------*/
.second-part {
  padding: 70px 15px;
  background-image: url("../../layouts/home/img/second-partimg.png"); /* The image used */
  background-color: #fff;
  background-attachment: scroll;
  background-position: 95% 28%;
  background-size: auto;
  background-repeat: no-repeat;
}
.second-part h3 {
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #5e6282;
}
.second-part h2 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  color: #212832;
}
.second-part .box-part h4 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.04em;
  color: #212832;
}
.second-part .box-part span {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #5e6282;
}
.box {
  padding: 60px 0px;
}
.boxhover img {
  width: 80px;
  height: 70px;
}
.box-part {
  background: #fff;
  border-radius: 0;
  padding: 60px 10px;
  margin: 30px 0px;
}

.box-part:hover {
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 36px;
}
/*-------------------------------------------------*/

section.topsaling {
  padding: 20px 15px 60px;
}
.topsaling .para-first {
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #5e6282;
}
.topsaling .top-heading {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.3px;
  color: #212832;
}
.topsaling .left-first {
  padding: 0 0px 30px 0;
}
.topsaling span.first-textbg:after {
  content: "";
  width: 400px;
  height: 19px;
  background: url(../../layouts/home/img/Decore.png) no-repeat;
  position: absolute;
  background-size: 100%;
  top: 87px;
  left: 11%;
}
/*-----------------------------------------------------------*/
section.client-part {
  padding: 50px 15px;
}
.client-part h3 {
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #5e6282;
}
.client-part h2 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.3px;
  color: #212832;
}
button.btn.org-faq {
  background: transparent;
  color: rgba(237, 163, 2, 1);
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.03em;
  padding: 0;
}
button.btn.org-faq i.fa.fa-angle-down {
  margin-top: 3px;
  margin-left: 7px;
}
/*++++++++++++++++++++++++++++++++++++/*/
.faq-part {
  padding: 70px 15px;
}
.faq-part h3 {
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #5e6282;
}
.faq-part h2 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  color: #212832;
}
.panel.panel-default {
  background: #ffffff;
  border: 1.5px solid rgba(94, 98, 130, 0.12);
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  padding: 15px 15px !important;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f500;
  border-color: #ddd0;
}
.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 0px solid #ddd;
}
p.text-bg {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: -0.02em;
  color: #5e6282;
}
h4.panel-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.04em;
  color: #212832;
}
.panel-heading .fa {
  transition: transform 0.3s;
}
.panel-heading.collapsed .fa-angle-down {
  transform: rotate(180deg);
}
i.fa {
  float: right;
}
/*-------------------------------------------*/
.testimonial .cards .card {
  background: #fff;
  padding: 1.5rem;
  max-width: 30rem;
  border-radius: 0.5rem;
  position: absolute;
}
.testimonial .card {
  padding: 40px;
}

.testimonial .img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 5px;
  background: #fff;
  top: -15px;
  left: 0px;
  position: absolute;
}
.testimonial .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial-text h4 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.04em;
  color: #5e6282;
}

.testimonial-text p.test-desc {
  padding-bottom: 20px;
}
.testimonial-text p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.04em;
  color: #212832;
}
a.top.carousel-control-prev,
a.bootom.carousel-control-next {
  font-size: 30px;
}
/*++++++++++++++++++++++++++++++++++++/*/
/*------------------------footer part ------------------------------------------*/
.page-footer {
  background-image: url("../../layouts/home/img/footerbg.png"); /* The image used */
  background-color: #fff; /* Used if the image is unavailable */
  padding: 50px 15px 15px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.footer-logo,
.social {
  padding: 15px 0;
}
.footer-line {
  height: 0.3px;
  background: #21283229;
  margin: 20px 0;
}
.footer-p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #5e6282;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

                              Itineraries page


++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.itineraries {
  background-image: url(../../layouts/home/img/itineraries-bg.jpg);
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.itineraries h1.top-heading {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0px;
  color: #211b1b;
}
select#country {
  background: #ffffff;
  border: 1px solid rgba(94, 98, 130, 0.25);
  border-radius: 8px;
  padding: 20px 15px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5e6282;
  text-transform: capitalize;
}
.itineraries h2.top-heading {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: -0.02em;
  color: #212832;
  padding-top: 60px;
}
.badge {
  position: absolute;
  right: 20px;
  background: #f1a501;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 70px;
  height: 35px;
  padding: 13px 5px;
}
.badge p {
  margin: 0 0 0px;
}
.style-input input,
.style-input textarea {
  border: 1px solid rgba(94, 98, 130, 0.25);
  border-radius: 8px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #5e6282;
  padding: 25px 10px;
}
textarea {
  width: 450px;
}
.upload-file {
  box-sizing: border-box;
  margin: auto;
  background: #ffffff;
  border: 1px dashed rgba(94, 98, 130, 0.25);
  border-radius: 16px;
  padding: 58px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 310px;
}
input#files {
  border: 0px solid rgba(94, 98, 130, 0.25);
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

                              listing page


++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.listing-bg {
  background-image: url(../../layouts/home/img/itineraries-bg.jpg);
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.listing h1.top-heading {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #211b1b;
}
.listing span.first-textbg:after {
  top: 70px;
  left: 13%;
}

.listing p.para-first {
  font-weight: 500;
  color: #5e6282;
}
.card-grid {
  padding: 50px 0;
}
.more-listing {
  padding-top: 50px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

                              Itineraries tabs


++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.listingtabs .nav-tabs > li.active > a,
.listingtabs .nav-tabs > li.active > a:focus,
.listingtabs .nav-tabs > li.active > a:hover {
  border-radius: 8px;
}
.listingtabs .nav-tabs > li > a {
  border-radius: 8px;
}
.listingtabs li {
  margin: 0 10px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

                             d Itineraries 


++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.left-d-itineraries ul {
  display: flex;
  margin: 0 0 0 -40px;
}
.left-d-itineraries ul li {
  background: rgba(241, 165, 1, 0.24);
  color: black !important;
  border-radius: 64px;
  color: white;
  padding: 12px 36px;
  margin: 0 10px 0 0;
  list-style: none;
}
.left-d-itineraries h1 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.02em;
  color: #212832;
}
.left-d-itineraries p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.04em;
  color: #5e6282;
}
h3.price-sec {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #212832;
}
h3.price-sec span {
  color: rgba(241, 165, 1, 1);
}
.dt-deatils {
  padding: 30px 0;
}
.dt-deatils .tab-content {
  padding: 30px 0;
}
.dt-deatils h4 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #212832;
}
.dt-deatils .nav-tabs {
  border-bottom: 0px solid #ddd;
  display: block;
}
.dt-deatils .tabs-pgs li {
  margin: 0 10px 0 0;
}
.dt-deatils ul.service-options-ul {
  display: contents;
}
.dt-deatils ul.service-options-ul li {
  margin: 16px 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #5e6282;
}

.dt-deatils p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.04em;
  color: #5e6282;
}

.d-itineraries {
  padding: 50px 0;
}
.left-d-itineraries {
  padding: 40px 0 0 0;
}

.card-img-top {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card-title {
  color: #212832;
}

/*min width*/

@media (min-width: 1150px) {
  .img-righttwo img {
    width: 80%;
  }
  .img-rightone img {
    width: 100px;
  }
  .img-rightone {
    position: absolute;
    left: 6%;
    top: 35px;
  }
  .first-section {
    display: flex;
    align-items: center;
  }
  .img-righthre {
    position: absolute;
    left: 63%;
    top: 70px;
  }
  .img-righthre img {
    width: 80px;
  }
  textarea {
    width: 555px;
  }
}
@media (min-width: 481px) {
  /*	.desktop-menu { display: none; }*/
}
@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    margin: 21px 0 0px 30%;
    display: table;
    table-layout: fixed;
  }
  ul.nav.navbar-nav.navbar-right {
    margin: -55px auto 0;
    display: table;
    table-layout: fixed;
  }
}
@media (max-width: 1024px) {
  .navbar-nav {
    margin: 21px 0 0px 20%;
  }
  .img-righttwo img {
    width: 100%;
  }
  h1.top-heading {
    font-size: 65px;
    line-height: 65px;
  }
  span.first-textbg:after {
    width: 280px;
    top: 90px;
  }
  .img-rightone {
    position: absolute;
    left: 8%;
    top: 40px;
  }
  .img-rightone img {
    width: 90px;
  }
  .img-righthre {
    position: absolute;
    left: 75%;
    top: 48px;
  }
  .img-righthre img {
    width: 80px;
  }
}
@media (max-width: 768px) {
  .navbar-nav {
    margin: 21px 0 0px 10%;
  }
  .left-first {
    text-align: center;
  }
  span.first-textbg:after {
    width: 200px;
    top: 78px;
    left: 25%;
  }
  .img-righttwo {
    display: flex;
    justify-content: center;
  }
  .img-righttwo img {
    width: 50%;
  }
  h1.top-heading {
    font-size: 46px;
    line-height: 50px;
  }
  .left-first {
    padding: 0 0 30px 0;
  }
  .first-section {
    padding: 40px 15px;
  }
  .img-rightone {
    position: absolute;
    left: 28%;
    top: 35px;
  }
  .img-rightone img {
    width: 90px;
  }
  .img-righthre {
    position: absolute;
    left: 62%;
    top: 40px;
  }
  .img-righthre img {
    width: 90px;
  }
  .nav > li > a {
    padding: 10px 10px;
  }
  .topsaling span.first-textbg:after {
    width: 250px;
    left: 40%;
  }
  section.client-part.text-area {
    text-align: center;
  }
  .listing span.first-textbg:after {
    left: 38%;
    width: 360px;
  }
  textarea {
    width: 720px;
  }
  .itineraries {
    background-position: top;
    background-size: contain;
  }
  .listing-bg {
    background-position: top;
    background-size: contain;
  }
}

@media (max-width: 480px) {
  .navbar-nav {
    margin: 0 auto;
    text-align: center;
  }
  ul.nav.navbar-nav.navbar-right {
    display: flex;
    justify-content: center;
  }
  /*	----------------------------------------------------------*/
  .img-righttwo img {
    width: 100%;
  }
  .img-rightone {
    position: absolute;
    left: 9%;
    top: 35px;
  }
  .img-righthre {
    position: absolute;
    left: 73%;
  }
  .footer-p {
    font-size: 16px;
    padding: 0px 25px;
  }
  /*---------------- second part--------------------	*/
  span.first-textbg:after {
    width: 190px;
    top: 78px;
    left: 44%;
  }
  .second-part h2 {
    font-size: 50px;
    line-height: 50px;
  }
  section.second-part {
    display: none;
  }
  .topsaling span.first-textbg:after {
    width: 170px;
    left: 37%;
    top: 70px;
  }
  .client-part h2,
  .faq-part h2,
  .topsaling .top-heading {
    font-size: 34px;
    line-height: 40px;
  }
  .text-area {
    text-align: center;
  }
  h4.panel-title {
    font-size: 18px;
    line-height: 18px;
  }
  .listing span.first-textbg:after {
    left: 37%;
    width: 200px;
  }
  .itineraries h1.top-heading {
    font-size: 46px;
    line-height: 35px;
  }
  .listing h1.top-heading {
    font-size: 36px;
  }
  .more-listing {
    padding-top: 10px;
  }
  .d-itineraries img {
    width: 100%;
  }
  .dt-deatils .nav-tabs {
    border-bottom: 0px solid #ddd;
    display: contents;
  }
  .dt-deatils .tabs-pgs li {
    margin: 8px 10px 0 0;
  }
  .left-d-itineraries h1 {
    font-size: 38px;
    line-height: 40px;
  }
  .testimonial-arrow {
    display: none;
  }
}

@media (max-width: 320px) {
  .img-righttwo img {
    width: 100%;
  }
  span.first-textbg:after {
    width: 200px;
    top: 90px;
    left: 37%;
  }
  h1.top-heading {
    font-size: 40px;
    line-height: 40px;
  }
  .itineraries h1.top-heading {
    font-size: 36px;
  }
}
